@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
document,
#__next {
  @apply h-max;
}

.link {
  @apply hover:text-blue-500 text-blue-600 dark:text-blue-300 hover:dark:text-blue-200 cursor-pointer hover:underline;
}

input,
textarea {
  @apply bg-white border p-2 dark:bg-gray-500;
}

.markdown h3 {
  @apply text-2xl font-bold;
}

.markdown h4 {
  @apply text-xl font-bold;
}

.markdown h5 {
  @apply text-lg font-bold;
}

ul {
  list-style: square;
}

li {
  margin-left: 16px;
}